<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%if(session.user_id) {%>
        <link rel="stylesheet" href="../stylesheets/FoundedItems.css">
    <%}else {%>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%}%>
</head>

<body>
    <%if(session.user_id){%>
     
    <div class="navbar">
        <a href="/" ><img src="./images/suglogo.png" alt="logo">
        </a>
        <h1>Lost And Found System</h1>
        <form action="/" method="get">
            <button id="LostedItems" value="home" href="/">Home</button>
        </form>
        <form action="/FoundedItems" method="get">
            <button id="foundeditems" value="FoundedItems" href="/FoundedItems">FoundedItems</button>
        </form>
        <form action="/LostedItems" method="get">
          <button id="LostedItems" value="FoundedItems" href="/LostedItems">LostedItems</button>
      </form>
       <form action="/Logout" method="post">
            <button id="logoutbutton" value="Logout" href="/Logout">Log Out</button>
        </form>
    </div>


        
      <%  data.forEach(function(pdata){ %>

    
   

     
    <div class="listbox">
        <div class="des">
            <h1>Losted</h1>
            <h2><%=pdata.Date%></h2>
        </div>
        <div class="des">
            <h1>ItemName : <%=pdata.IName%></h1>
            <h2>Posted by</h2>
        </div>
        <div class="des">
           
        </div>
        <div class="detail">
            <img src="data:image/png;base64,<%=pdata.Image%>" alt="image" height="200px" width="200px">

            <div>
                <h3>Name :</h3>
                <p><%=pdata.PName%></p>
                <h3> Contact :</h3>
                <p><%=pdata.Contact%></p>
            </div>
            <div>
                <h3>Description</h3>
                <p><%=pdata.Description%></p>
                <form action="/Verify" method="post">
                    <input type="hidden" name="Id" value="<%=pdata.Id%>">
                    <button type="submit">ClickToVerify</button> 
                </form>
                 
                </div>
            </div>
        </div>
    </div>

    <%  }) %>

    <%}else{%>

        <div class="container">
            <h1 class="mt-5 mb-5 text-center text-primary"><b>FoundAndLost</b></h1>
    
            <div class="row mt-5">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <form method="post" action="/Login">
                                <div class="mb-3">
                                    <label>Email Address</label>
                                    <input type="email" name="user_email_address" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                    <label>Password</label>
                                    <input type="password" name="user_password" class="form-control" required />
                                   <input type="hidden" name="RedirectLabel" value='LostedItems'>
                                    
                                    
                                </div>
                                <div class="mb-3">
                                    <input type="submit" class="btn btn-primary" value="Login" />
                                </div>
                            </form>
                        </div>
                    </div>
                
    <%}%>


           




      

           
           
      






    
</body>

</html>